<html>
<head>
    <title>User Form</title>
</head>
<body>
    <h1>User Form</h1>
    <form method="post" action="http://127.0.0.1:8000/user-form/form/" >
      <div>
          <label for="na"><b>Name</b></label>
                <input id="na" type="text" name="Nm" required>
                  </div>
                <br>
                <br>
       <div >
                   <label for="dob"><b>DOB</b></label>
                <input id="dob" type="date" name="Date" onchange="ageCalculator()"  required>
                <br>
        </div>
                <br>
        <div>
            <label for="emai"><b>Email</b></label>
        <input id="emai" type="email" name="mail" required>
        <br>
        <br>
        </div>
        <div>
                <label for="number"><b>Phone Number</b></label>
            <input id="number" type="number" name="Phone" >

            <br>
            </div>
        <br>
        <input type="submit">


    </form>


</body>
</html>
